<%= javascript_tag do %>
var $squire_description = '<%= raw @blog.content.gsub("'", "\\\\'") %>';
<% end %>

<h1>Editing Blog</h1>

<%= render 'form' %>

<%= link_to 'Show', @blog %> |
<%= link_to 'Back', blogs_path %>
