<style>
.iframe-content {
    position: relative;
    width: 100%;
    padding: 75% 0 0 0;
}
.iframe-content iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
</style>
<div class="row">
  <div class="col-md-8">
<p id="notice"><%= notice %></p>
<p>
  <h1 class="h3"><%= @blog.title %></h1>
</p>
<p><%= link_to image_tag(@blog.user.image, class:"img-circle", style: 'width:50px;' ), username_path(@blog.user.account_id) %><label class="label"><%= link_to @blog.user.name, username_path(@blog.user.account_id) %></label>
      <i class="fa fa-rss-square fa-lg fa-green"></i>
      <i class="fa fa-check-square fa-orange fa-lg"></i>
<i class="glyphicon glyphicon-time"></i>
<label class="label"><%= @blog.created_at.strftime('%Y/%m/%d %H:%M:%S') %></label>
</p>
<div class="blog-content">
  <%= simple_format( @blog.content, {}, {:sanitize => false}) %>
</div>
<p><%= link_to image_tag(@blog.user.image, class:"img-circle", style: 'width:50px;' ), username_path(@blog.user.account_id) %><label class="label"><%= link_to @blog.user.name, username_path(@blog.user.account_id) %></label>
      <i class="fa fa-rss-square fa-lg fa-green"></i>
      <i class="fa fa-check-square fa-orange fa-lg"></i>

<i class="glyphicon glyphicon-time"></i>
<label class="label"><%= @blog.created_at.strftime('%Y/%m/%d %H:%M:%S') %></label>
</p>
<h2>Comments</h2>
<% @blog.comments.each do |comment| %>
  <p>
    <%= comment.commenter %>: <%= comment.body %>
  </p>
<% end %>
<h2>Add a comment:</h2>
<%= form_for([@blog, @blog.comments.build]) do |f| %>
  <p>
    <%= f.label :commenter %><br>
    <%= f.text_field :commenter, class:"form-control" %>
  </p>
  <p>
    <%= f.label :body %><br>
    <%= f.text_area :body, class:"form-control" %>
  </p>
  <p>
    <%= f.submit class:"form-control" %>
  </p>
<% end %>
<% if user_signed_in? && current_user.id == @blog.user.id %><%= link_to 'Edit', edit_blog_path(@blog) %> |<% end %>
<%= link_to 'Back', :back, class:"animsition-link" %>
</div>
  <div class="col-md-4">
<!-- <div id="calendarBlogs"></div> -->
</div>
</div>
