<style>
.iframe-content {
    position: relative;
    width: 100%;
    padding: 75% 0 0 0;
}
.iframe-content iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
</style>
<div class="row">
  <div class="col-md-8">
<p id="notice"><%= notice %></p>
<% if @blog.draft_flg != 1 %>
<div class="row">
<% if @future_blog != nil %>
<div class="pull-left"><%= link_to @future_blog.title.truncate(10, omission: '...') + ' ' + @future_blog.published_at.strftime('%y.%m.%d'), '/blogs/' + @future_blog.id.to_s %></div>
<% end %>
<% if @past_blog != nil %>
<div class="pull-right"><%= link_to @past_blog.title.truncate(10, omission: '...') + ' ' + @past_blog.published_at.strftime('%y.%m.%d'), '/blogs/' + @past_blog.id.to_s %></div>
<% end %>
</div>
<% end %>
<p>
  <h1 class="h3"><%= @blog.title %></h1>
</p>
<p><%= link_to image_tag(@blog.user.image, class:"img-circle", style: 'width:50px;' ), username_path(@blog.user.account_id) %><label class="label"><%= link_to @blog.user.name, username_path(@blog.user.account_id) %></label>
      <i class="fa fa-rss-square fa-lg fa-green"></i>
      <i class="fa fa-check-square fa-orange fa-lg"></i>
<i class="glyphicon glyphicon-time"></i>
<label class="label"><%= @blog.published_at.strftime('%Y/%m/%d %H:%M:%S') %></label>
</p>
<% if @blog.image.present? %>
<p>
<%= image_tag @blog.image, class: 'img-thumbnail' %>
</p>
<% end %>
<div class="blog-content">
  <%= simple_format( @blog.content, {}, {:sanitize => false}) %>
</div>
<p><%= link_to image_tag(@blog.user.image, class:"img-circle", style: 'width:50px;' ), username_path(@blog.user.account_id) %><label class="label"><%= link_to @blog.user.name, username_path(@blog.user.account_id) %></label>
      <i class="fa fa-rss-square fa-lg fa-green"></i>
      <i class="fa fa-check-square fa-orange fa-lg"></i>

<i class="glyphicon glyphicon-time"></i>
<label class="label"><%= @blog.published_at.strftime('%Y/%m/%d %H:%M:%S') %></label>
</p>
<% if @blog.draft_flg != 1 %> 
<div class="row">
<% if @future_blog != nil %>
<div class="pull-left"><%= link_to @future_blog.title.truncate(10, omission: '...') + ' ' + @future_blog.published_at.strftime('%y.%m.%d'), '/blogs/' + @future_blog.id.to_s %></div>
<% end %>
<% if @past_blog != nil %>
<div class="pull-right"><%= link_to @past_blog.title.truncate(10, omission: '...') + ' ' + @past_blog.published_at.strftime('%y.%m.%d'), '/blogs/' + @past_blog.id.to_s %></div>
<% end %>
</div>
<% end %>
<!-- Button trigger modal
<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
  Launch demo modal
</button>
-->
<!-- Modal
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
-->
<h2>Comments</h2>
<% @blog.comments.each do |comment| %>
  <p>
    <%= comment.commenter %>: <%= comment.body %>
  </p>
<% end %>
<h2>Add a comment:</h2>
<%= form_for([@blog, @blog.comments.build]) do |f| %>
  <p>
    <%= f.label :commenter %><br>
    <%= f.text_field :commenter, class:"form-control" %>
  </p>
  <p>
    <%= f.label :body %><br>
    <%= f.text_area :body, class:"form-control" %>
  </p>
  <p>
    <%= f.submit class:"form-control" %>
  </p>
<% end %>
<% if user_signed_in? && current_user.id == @blog.user.id %><%= link_to 'Edit', edit_blog_path(@blog) %> |<% end %>
<%= link_to 'Back', :back, class:"animsition-link" %>
</div>
  <div class="col-md-4">
  <div id="calendarBlogs"></div>
</div>
</div>
