<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @income_statement.date %>
</p>
<p>
  <strong>Cost sum::</strong>
  <%= @income_statement.cost_sum %>
</p>
<p>
  <strong>Ses business revenue:</strong>
  <%= @income_statement.ses_business_revenue %>
</p>

<p>
  <strong>Representative reward:</strong>
  <%= @income_statement.representative_reward %>
</p>

<p>
  <strong>Personnel expenses:</strong>
  <%= @income_statement.personnel_expenses %>
</p>

<p>
  <strong>Sales support fee:</strong>
  <%= @income_statement.sales_support_fee %>
</p>

<p>
  <strong>Social insurance costs:</strong>
  <%= @income_statement.social_insurance_costs %>
</p>

<p>
  <strong>Tax expense:</strong>
  <%= @income_statement.tax_expense %>
</p>

<p>
  <strong>Business tax:</strong>
  <%= @income_statement.business_tax %>
</p>

<p>
  <strong>Delay loss:</strong>
  <%= @income_statement.delay_loss %>
</p>

<p>
  <strong>Communications expenses:</strong>
  <%= @income_statement.communications_expenses %>
</p>

<p>
  <strong>Transportation cost:</strong>
  <%= @income_statement.transportation_cost %>
</p>

<p>
  <strong>Capital investment:</strong>
  <%= @income_statement.capital_investment %>
</p>

<p>
  <strong>Advertising expenses:</strong>
  <%= @income_statement.advertising_expenses %>
</p>

<p>
  <strong>Entertainment expenses:</strong>
  <%= @income_statement.entertainment_expenses %>
</p>

<p>
  <strong>Affairs costs:</strong>
  <%= @income_statement.affairs_costs %>
</p>

<p>
  <strong>Shareholder costs:</strong>
  <%= @income_statement.shareholder_costs %>
</p>

<p>
  <strong>Lower costs:</strong>
  <%= @income_statement.lower_costs %>
</p>

<p>
  <strong>Debt costs:</strong>
  <%= @income_statement.debt_costs %>
</p>

<p>
  <strong>Realestate:</strong>
  <%= @income_statement.realestate %>
</p>

<%= link_to 'Edit', edit_income_statement_path(@income_statement) %> |
<%= link_to 'Back', income_statements_path %>
