<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
<div class="alert alert-danger" role="alert">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :account_id %><br>
    <%= f.text_field :account_id, class:"form-control"%>
  </div>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name, class:"form-control"%>
  </div>
  <div class="field">
    <%= f.label :profile %><br>
    <%= f.text_area :profile, class:"form-control", rows:5 %>
  </div>
<!--  
  <% for genre in Genre.all %>
  <div class="field">
    <%= check_box_tag "user[genre_ids][]", genre.id, @user.genres.include?(genre) %>
    <%= genre.title %>
  </div>
  <% end %>
-->
<%= image_tag(@member.image, style:"width:200px;") %>
  <div class=field>
    <%= f.label :image %><br>
    <%= f.file_field :image,  class:"form-control"%>
  </div>
  <div class="actions">
    <%= f.submit class:"btn btn-primary" %>
  </div>
<% end %>
