  <div class="row">
    <div class="col-lg-12">
      <%= image_tag(@user.image, class:"img-circle", style:"width:125px;") %>
      <strong><%= @user.name %></strong>
      <i class="fa fa-rss-square fa-lg fa-green"></i>
      <i class="fa fa-check-square fa-orange fa-lg"></i>
<% if user_signed_in? && current_user.id == @user.id %>
<%= link_to 'Edit', edit_member_path(@user) %>
<% end %>
      <p><%= simple_format( @user.profile, {}, {:sanitize => false}) %></p>
<p>
<button type="button" class="btn btn-default btn-sm">
  id:<%= @user.account_id %>
</button>
</p>
<% if user_signed_in? && current_user.id == @user.id %>
<%= link_to 'New Blog', new_blog_path, class:"btn btn-success" %>
<%= link_to 'New Photo', new_photo_path, class:"btn btn-success" %>
<% end %>
      <p> 
      <i class="fa fa-rss-square fa-green fa-lg"> readers(public)</i></p>
      <% @user.follows_as_target.each do |follow| %>
        <%= link_to image_tag(follow.user.image, style: 'width:50px;', class:"img-circle"), follow.user.account_id %>
      <% end %>
      <p><i class="fa fa-rss-square fa-lg"> reading(public)</i></p>
      <% @user.follows.each do |follow| %>
        <%= link_to image_tag(follow.target_user.image, style: 'width:50px;', class:"img-circle"), follow.target_user.account_id %>
      <% end %>
      <p><i class="fa fa-check-square fa-orange fa-lg"> favolites(private)</i></p>
  <hr>
  <% @blogs.each do |blog| %>
  <p><%= link_to blog.title + ' ' + blog.published_at.strftime('%y.%m.%d'), blog %></p>
  <hr>
  <% end %>
  <% @user.photos.order("created_at desc").each do |photo| %>
  <p><%= link_to lazy_image_tag(photo.image), photo %></p>
  <hr>
  <% end %>
<%= link_to 'Back', :back, class:"animsition-link" %>
    </div>
  </div>
<svg class="icon icon-sign"><use xlink:href="#icon-sign"></use></svg>


<symbol id="icon-sign" viewBox="0 0 32 32">
<title>sign</title>
<path class="path1" d="M24.685 8.229c-4.54 0-7.544 3.712-10.195 6.987-2.265 2.798-4.403 5.44-7.008 5.44-2.707 0-4.369-2.782-4.369-4.777 0-1.849 1.823-4.537 4.681-4.537 2.773 0 4.218 2.219 4.291 2.333 0.449 0.727 1.403 0.956 2.134 0.51 0.734-0.447 0.967-1.405 0.519-2.14-0.095-0.155-2.379-3.817-6.944-3.817-4.593 0-7.795 4.032-7.795 7.651 0 3.732 3.073 7.891 7.483 7.891 4.090 0 6.804-3.353 9.428-6.596 2.428-2.999 4.721-5.832 7.775-5.832 1.817 0 3.011 0.616 3.649 1.883 0.553 1.099 0.553 2.343 0.552 2.774 0 0.247-0.131 1.486-0.735 2.602-0.689 1.271-1.668 1.863-3.082 1.863-2.848 0-4.386-1.851-4.966-2.548-0.151-0.181-0.259-0.312-0.404-0.436-0.652-0.559-1.636-0.484-2.195 0.169-0.54 0.63-0.488 1.566 0.102 2.133 0.028 0.032 0.062 0.074 0.102 0.123 0.755 0.909 3.051 3.672 7.36 3.672 5.237 0 6.931-5.107 6.931-7.6 0-1.588-0.297-2.985-0.885-4.153-0.825-1.64-2.611-3.597-6.429-3.597z"></path>
</symbol>
<style type="text/css">
.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}
</style>

