<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @video.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @video.content %>
<%= video_tag @video.content, autoplay: true, muted: true, controls: true, preload: true, style:"width:350px;" %>
</p>

<%= link_to 'Edit', edit_video_path(@video) %> |
<%= link_to 'Back', videos_path %>
