 <nav>
    <!-- user_signed_in? はユーザがログインしているか調べるdeviseのHelperメソッド -->
    <% if user_signed_in? %> 
      <!-- current_user は現在ログインしているUserオブジェクトを返すdeviseのHelperメソッド -->
      <!-- *_path はUserモデルを作成したときに、
        deviseにより自動で作成されてますので、rake routesで確認できます -->
      <% link_to 'プロフィール変更', edit_user_registration_path %>
      <% link_to "ログアウト", destroy_user_session_path , method: :delete %>
    <% else %>
      <% link_to "サインイン", new_user_registration_path %> 
      <% link_to "ログイン", new_user_session_path %>
    <% end %>
  </nav>
<div class="row">
            <div class="col-xs-12">
<div class="row">
                    <% @blogs.each do |blog| %>
                      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3" style="height:190px;">
<hr>
                      <h2 class="h4" style="height:20px;overflow:hidden;"><%= link_to blog.title, blog %></h2>
                      <div class="row">
                      <div class=<%= blog.photos.present? ? "col-xs-9 col-sm-9" : "col-xs-12 col-sm-12" %> >
                       <p style="height:82px;overflow:hidden;"><%= link_to rm_html_tag(blog.content), blog , class:""%></p>
                      </div>
                      <% if blog.photos.present? %>
                      <div class="col-xs-3 col-sm-3" style="padding-left:1px;">
                      <% for photo in blog.photos %>
                        <% if photo.image_url.present? %>
                        <%= link_to blog do %><%= lazy_image_tag photo.image_url, style: 'width:98%;' %><% end %>
                        <% break %>
                        <% end %>
                      <% end %>
                      </div>
                      <% end %>
                      </div>
                       <p><%= link_to image_tag(blog.user.image, class:"img-circle", style: 'width:auto;height:auto;max-width:45px; max-height:45px;' ), blog.user.account_id %><%= link_to blog.user.name, blog.user.account_id, class:"label" %>
                         <!--<i class="fa fa-rss-square fa-lg fa-green"></i>
                         <i class="fa fa-check-square fa-orange fa-lg"></i>-->
                         <i class="glyphicon glyphicon-time"></i><label class="label"><%= blog.created_at.strftime('%y/%m/%d') %></lebel>
</p>
                       <% if user_signed_in? %>
                         <% link_to 'Edit', edit_blog_path(blog) %>
                         <% link_to 'Destroy', blog, method: :delete, data: { confirm: 'Are you sure?' } %>
                       <% end %>
                    </div>
                    <% end %>
          </div>
<hr>

              <% @users.each do |user| %>
                <div class="col-xs-6 col-md-3 col-sm-4" style="height:160px;">
                  <%= link_to lazy_image_tag(user.image, class:"img-circle", style: 'width:auto;height:auto;max-width:145px; max-height:145px;' ), user.account_id %>
                </div>
              <% end %>
            </div>

<!-- Button trigger modal -->
<!--<div class="hoshis">
<button type="button" style="background-color:black;" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#myModal">
  sign in
</button>
</div>
-->
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" style="background-color:black;" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">cannot login</h4>
      </div>
      <div class="modal-body">
        junbi tyu. tabun 10gatsu ikou
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">cannot login</button>
      </div>
    </div>
  </div>
</div>

            </div>
</div>
<!--  <div class="section" id="s02">
    <figure>
      <img id="csr" width= "2000px" src="8.jpg" title="hoshi">
    </figure>
  </div>
</div> -->
<script>
$('#myModal').on('shown.bs.modal', function () {
  $('#myInput').focus()
})
$(document).ready(function(){
				$('.h2').hover(function() {
                $(this).stop().animate({'font-size':'40px'}, 300);//左を3px空ける事でテキストを右にずらす
                },function() {
                $(this).stop().animate({'font-size':'30px'}, 300);
                });
});

</script>
