<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @move.title %>
</p>

<p>
  <strong>Transportation:</strong>
  <%= @move.transportation %>
</p>

<p>
  <strong>Distance:</strong>
  <%= @move.distance %>
</p>

<p>
  <strong>Time:</strong>
  <%= @move.time %>
</p>

<p>
  <strong>Journal:</strong>
  <%= @move.journal_id %>
</p>

<%= link_to 'Edit', edit_move_path(@move) %> |
<%= link_to 'Back', moves_path %>
