<p id="notice"><%= notice %></p>
<div class="row">
<div class="col-md-12">
<% if user_signed_in? %>
<% link_to 'New Photo', new_photo_path %>
<% end %>
    <% @photos.each do |photo| %>
<!--       <p><%= photo.name %></p> -->
        <p><%= link_to photo.comment, photo %></p> 
        <p><%= link_to photo.user.name, photo %><%= link_to image_tag(photo.user.image, class:"img-circle", style: 'width:30px;' ), photo.user.name %>
        <%= link_to photo.created_at.strftime('%Y/%m/%d %H:%M'), photo %></p> 
          <% if user_signed_in? %>
            <% link_to 'Edit', edit_photo_path(photo) %>
            <% link_to 'Destroy', photo, method: :delete, data: { confirm: 'Are you sure?' } %>
          <% end %>
      <hr>
    <% end %>
<%= paginate @photos %>
</div>
</div>
