<p id="notice"><%= notice %></p>

<p>
  <strong>Car loan:</strong>
  <%= @personal_incomestatement.car_loan %>
</p>

<p>
  <strong>Lower:</strong>
  <%= @personal_incomestatement.lower %>
</p>

<p>
  <strong>Credit:</strong>
  <%= @personal_incomestatement.credit %>
</p>

<p>
  <strong>Shopping loan:</strong>
  <%= @personal_incomestatement.shopping_loan %>
</p>

<p>
  <strong>Yokoi info:</strong>
  <%= @personal_incomestatement.yokoi_info %>
</p>

<p>
  <strong>Friend:</strong>
  <%= @personal_incomestatement.friend %>
</p>

<p>
  <strong>Family:</strong>
  <%= @personal_incomestatement.family %>
</p>

<p>
  <strong>Health care:</strong>
  <%= @personal_incomestatement.health_care %>
</p>

<p>
  <strong>Basic costs:</strong>
  <%= @personal_incomestatement.basic_costs %>
</p>

<p>
  <strong>Clothes costs:</strong>
  <%= @personal_incomestatement.clothes_costs %>
</p>

<p>
  <strong>Reisure costs:</strong>
  <%= @personal_incomestatement.reisure_costs %>
</p>

<p>
  <strong>Car tax:</strong>
  <%= @personal_incomestatement.car_tax %>
</p>

<p>
  <strong>Car insurance:</strong>
  <%= @personal_incomestatement.car_insurance %>
</p>

<p>
  <strong>Social insurance:</strong>
  <%= @personal_incomestatement.social_insurance %>
</p>

<p>
  <strong>Life insurance:</strong>
  <%= @personal_incomestatement.life_insurance %>
</p>

<p>
  <strong>Housing costs:</strong>
  <%= @personal_incomestatement.housing_costs %>
</p>

<p>
  <strong>Saraly:</strong>
  <%= @personal_incomestatement.saraly %>
</p>

<%= link_to 'Edit', edit_personal_incomestatement_path(@personal_incomestatement) %> |
<%= link_to 'Back', personal_incomestatements_path %>
