<p id="notice"><%= notice %></p>
<div class="row">
<% if user_signed_in? %>
<%= link_to 'New Photo', new_photo_path, class:"btn btn-success" %>
<% end %>
<div class="col-md-12">
    <% @photos.each do |photo| %>
<div class="col-xs-4"> 
	<%= link_to photo do %><div class="trimming"><label class="label"><%= photo.name.truncate(7, omission: '..') %></label><%= lazy_image_tag photo.image_url %></div><% end %>
<td>
          <% if user_signed_in? %>
            <% link_to 'Edit', edit_photo_path(photo) %>
            <% link_to 'Destroy', photo, method: :delete, data: { confirm: 'Are you sure?' } %>
          <% end %>
</td>
</div>
    <% end %>
<%= paginate @photos %>
</div>
</div>
