<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @equip.name %>
</p>

<p>
  <strong>Detail:</strong>
  <%= simple_format(@equip.detail, {}, {:sanitize => false}) %>
</p>

<p>
  <strong>image:</strong>
  <%= image_tag @equip.image_link %>
</p>

<p>
  <strong>Date:</strong>
  <%= @equip.date %>
</p>

<p>
  <strong>Status:</strong>
  <%= @equip.status %>
</p>

<p>
  <strong>Priority:</strong>
  <%= @equip.priority %>
</p>

<p>
  <strong>Bland:</strong>
  <%= @equip.bland %>
</p>

<p>
  <strong>Price:</strong>
  <%= @equip.price %>
</p>

<p>
  <strong>pr_link:</strong>
  <%= simple_format(@equip.pr_link, {}, {:sanitize => false}) %>
</p>
<%= link_to 'Back', '/equip' %>
