<p id="notice"><%= notice %></p>

<h1>Listing Fishings</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Content</th>
      <th>Fish</th>
      <th>Count</th>
      <th>Place</th>
      <th>Time</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @fishings.each do |fishing| %>
      <tr>
        <td><%= fishing.title %></td>
        <td><%= fishing.content %></td>
        <td><%= fishing.fish %></td>
        <td><%= fishing.count %></td>
        <td><%= fishing.place %></td>
        <td><%= fishing.time %></td>
        <td><%= link_to 'Show', fishing %></td>
        <td><%= link_to 'Edit', edit_fishing_path(fishing) %></td>
        <td><%= link_to 'Destroy', fishing, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Fishing', new_fishing_path %>
