<!DOCTYPE html>
<html>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0">
  <title><% if @user.present? %><%= @user.name %>　<% end %>KOAGENBLOG | seed project | コウゲンブログ　|　シードプロジェクト</title>
  <link href="/assets/application.css" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <link rel="shortcut icon" href="https://upload.wikimedia.org/wikipedia/commons/thumb/f/f3/Sirius_A_and_B_Hubble_photo.jpg/220px-Sirius_A_and_B_Hubble_photo.jpg">
  <link rel="apple-touch-icon" href="https://upload.wikimedia.org/wikipedia/commons/thumb/f/f3/Sirius_A_and_B_Hubble_photo.jpg/220px-Sirius_A_and_B_Hubble_photo.jpg" />
  <!-- Mainly scripts -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <script src="/assets/application.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/jQueryRotate.js"></script>
  <script src="/js/jquery.layzyload.min.js"></script>
  <!-- Custom and plugin javascript -->
  <body ng-app="sampleApp">
    <%= render 'layouts/sidebar' %>
    <div class="container-fluid animsition">
    <% if user_signed_in? %>
    <p style="text-shadow: 1px 1px 3px #fff;">こんにちわ<%= link_to current_user.name, username_path(current_user.account_id) %>さん</p>
    <% end %>
<% if notice.present? %>
<div class="alert alert-info" role="alert">
  <p id="notice"><%= notice %></p>
</div>
<% end %>
    <%= yield %>
    </div>
    <%= render 'layouts/footer' %>
  </body>
</html>
